<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/background.css">
  <title>YUM Recipe Generator</title>
  <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js">import * as tf from '@tensorflow/tfjs';</script>
</head>

<body>

  <div class="container is-max-desktop">

    <nav class="navbar is-dark" style="background-color: transparent; background-image: none;" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/">
          <p style="font-size:40px">😋</p>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbarMenu" style="background-color: transparent; background-image: none;">  
        <div class="navbar-end">
          <div class="navbar-item">
            <a onclick="document.getElementById('about-modal').style.display='block'">
              <p class="has-text-grey-dark" style="font-size:18px">About</p>
            </a>
            <div class="modal has-text-grey-dark" id="about-modal" style="padding-top: 5%; background-color: initial;">
              <div class="modal-background" onclick="document.getElementById('about-modal').style.display='none'"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">About</p>
                  <button class="delete" aria-label="close" onclick="document.getElementById('about-modal').style.display='none'"></button>
                </header>
                <section class="modal-card-body">
                  <p style="font-size: 20px;">YUM is a recurrent neural network that generates novel recipe titles. 
                    It has been trained on BBC Good Food recipe titles in order to suggest new food combinations.
                    Often these are new for a reason!
                  Constructive feedback welcome.</p>
                </section>
                <footer class="modal-card-foot">
                  <p style="font-size: 16px;">This page was created by Alexander M. Jones utilising a variety of open-source technology. View the
                    <span class="has-text-link">
                      <a has-text-link href="https://github.com/alexandermjones/recipe_generator">source code</a>
                    </span> for more details.</p>
                </footer>
              </div>
            </div>
          </div>
          <div class="navbar-item">
            <a href="https://github.com/alexandermjones/recipe_generator">
              <p class="has-text-grey-dark" style="font-size:18px">Code</p>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <h1 class="subtitle is-1">YUM Recipe Generator</h1>
    <hr>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <p class="subtitle" style="text-align: center;">YUM = Your Unique Meal-generator.
        <br>
        An AI-powered meal generator that suggests new recipes based on existing meals available from 
        <a href="https://www.bbcgoodfood.com/">BBC Good Food</a>. 
        <br>No guarantee of taste, edibility or palatibility is given.
        <br>Hit one of the buttons to find out what to eat next!</p>
      </div>
    </div>

    <div id="buttons-div" class="columns">
      <div class="column" style="display: inline-flex">
        <button class="button is-success is-outlined is-large column" onclick="request_recipe('breakfast', 'success')">Breakfast</button>
      </div>
      <div class="column" style="display: inline-flex">
        <button class="button is-link is-outlined is-large column" onclick="request_recipe('dinner', 'link')">Main meal</button>
      </div>
      <div class="column" style="display: inline-flex">
        <button class="button is-danger is-outlined is-large column" onclick="request_recipe('desserts', 'danger')">Dessert</button>
      </div>
    </div>

    <div id="meal"></div>
  
  </div>


<script>

var running = false;


async function load_models() {
  const breakfast_model = await tf.loadLayersModel('/models/breakfast_model/model.json');
  // const dinner_model = await tf.loadLayersModel('/models/dinner_model/model.json');
  // const dessert_model = await tf.loadLayersModel('/models/dessert_model/model.json');
};


function request_recipe(meal, colour) {
  // Check we aren't already looking for a query, and put the loading bar if we do
  if (!running) {
    running = true;
    var loading_bar = '<progress class="progress is-small is-'+colour+'" max="100">15%</progress>';
    $("#meal").html(loading_bar);

    // Query the recipe
    $.get('/'+meal, function(data, status){
      var recipe = '<p class="subtitle has-text-dark is-2" style="text-align: center;">' + data + '</p>'
      $("#meal").html(recipe);
    });
  }
  // Sleep so we don't DDOS ourselves
  var running = false;
}

$(document).ready(function() {

  load_models()

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
  });

});

</script>

</body>
</html>